/***********************************************************************
 *                                                                     *
 * BUG FIXES FOR CANVAS INTERFACE                                      *
 *                                                                     *
 ***********************************************************************/
 
/* why can't we see all the enrollments and accounts at once? 200px scrolling window, my fanny! */
#courses_list .courses ul, .accounts ul {
	max-height: none !important;
}

/* highlight active courses for ease of visualization */
#courses_list .courses .active {
	background-color: #ffffcc;
}

/* 200px tall assignment descriptions? Ha! */
.description {
	height: auto !important;
}

/***********************************************************************
 *                                                                     *
 * GLOBAL MENU BAR                                                     *
 *                                                                     *
 ***********************************************************************/
 
/* replace the aqua green background with something that matches your color scheme.*/
#header {
  /*you can use .pngs with alpha transparency since you dont have to worry about IE6*/
  background: url("header-background.jpg?v1") repeat-x scroll left center transparent;
}

/*replace the "Canvas" logo with your school's*/
#header-logo, #header.no-user #header-logo {
  background: url("header-account-logo.png?v1") no-repeat scroll 0 0 transparent;
  bottom: 0px;
  height: 70px;
  left: 0px;
  width: 250px;
  top: 0px;
}

#header-inner {
	min-height: 44px;
}

/* if you are going to replace the Canvas logo on the top left with your school's, 
you should move a (smaller) Cavas logo to the right side of the header'*/
#header-logo-secondary, #header.no-user #header-logo-secondary {
  /* note, you should set up you webserver to set the right headers to cache these 
     images you link to for a long time (eg: 1 year) and change the querystring 
     (the part that says "?v1") to force users to download a new version if you 
     change it, see: http://developer.yahoo.com/performance/rules.html#expires */
  background: url("header-canvas-logo.png?v1") no-repeat scroll 0 0 transparent;
  bottom: 11px;
  height: 26px;
  position: absolute;
  right: 26px;
  width: 135px;
  display: block;
}

/*make room for the menu since my sample logo is bigger than default canvas logo*/
#menu{ margin-left: 200px; }

/*make the menu lettering white and make it go back to grey when you hover over*/
.menu-item .menu-item-title, .menu-item .menu-item-no-drop { color: #FFFFFF; }
.menu-item.hover .menu-item-title { color: #555555; }

/*style the #identity (the thing that says "Ryan Shaw | inbox | profile | logout | (feedback)" in top right) */
#identity { background-color: #981E32; }
#identity .user_name a{ color: #DC8894 !important; }
#identity a { color: #fff; }
#identity #feedback_link{ border-color: #333; background-color: #333; }
#identity .inbox a .unread-messages-count { background-color: #333; }


/***********************************************************************
 *                                                                     *
 * WEB (NOT MOBILE) LOGIN                                              *
 *                                                                     *
 ***********************************************************************/
 
#modal-box.login-box { background: url("login-bg.png?v1") no-repeat !important }

/*this will move the extra canvas logo*/
body.modal #modal-box.login-box h1 { 
	margin-top: 170px !important;
	margin-bottom: 0px !important;
	margin-left: 44px !important;
	background-position: 0px 45px !important;
}

/*resize the login box to fit my image and change the color of 'stay signed in'*/
body.modal #modal-box.login-box { 
height: 405px;
width: 580px;
color: black;
}

/* messagea above login form */
#login_form:before {
	content: 'Log in with your full email address';
}

#login_form {
	margin-top: -2em;
}

/* adjust the width of "Please Log In" to fit image */
#unauthorized_holder {
	width: 620px;
}

/*change the color of the login button*/
body.modal #modal-box .button, body.modal #login-box .button {
background-color: #A1C42E !important;
background-image: none;
border-color: #668F78;
}
/*change the color of 'don't know your password'*/
body.modal #modal-box.login-box a { color: black !important; }

/* hide the self-registration link */
#register_link {
	visibility: hidden !important;
}


/***********************************************************************
 *                                                                     *
 * MOBILE (INCLUDING MOBILE SAFARI) LOGIN                              *
 *                                                                     *
 ***********************************************************************/
 

/*institution logo*/
#f1_container{
background: url(mobile/logo.png) no-repeat center top;
background-size: 100% auto;
width: 302px;
}
#f1_container #login_form {
	color: black;
}
/*dialog background*/
.face{
background: rgb(216,216,208);
border-radius: 0px 0px 12px 12px !important;
top: 133px;;
}
/*resize the border or font weight of the login fields*/
#f1_container #login_form .face input{
background: #f3f3f3;
border-radius: 5px;
font-weight: normal;
}
/*adjust the border, color, or shadow of the login button*/
#f1_container #login_form .face button[type=submit]{
border: none;
color: #fff;
text-shadow: 0 -1px 0 #36629b;
}
.flip-to-back, .flip-to-front{
text-shadow: 0 1px 0 #fff;
border: none;
border-radius: 6px;
background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top, #dddddd 0%, #f3f3f3 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(50%,#f3f3f3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dddddd 0%,#f3f3f3 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dddddd 0%,#f3f3f3 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dddddd 0%,#f3f3f3 50%); /* IE10+ */
background: linear-gradient(to bottom, #dddddd 0%,#f3f3f3 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
color: #888;
}


/***********************************************************************
 *                                                                     *
 * Striped table rows                                                  *
 *                                                                     *
 ***********************************************************************/

table.striped tr:nth-child(even) {
	background: #d6ecfc; /* match sidebar highlights */
}


/***********************************************************************
 *                                                                     *
 * CALENDAR COLOR-CODING                                               *
 *                                                                     *
 ***********************************************************************/
 
/************************************************************************
  CSS generated by https://docs.google.com/a/stmarksschool.org/spreadsheet/ccc?key=0Ah1atGpuKjk9dGlDU3NTUnpyVDlSRVdROHVLeXdsV2c&usp=sharing
************************************************************************/

/* Red Events */
.group_course_1656, .group_course_1710, .group_course_1914, .group_course_2126, .group_course_2132, .group_course_1616, .group_course_1622, .group_course_1632, .group_course_1670, .group_course_1676, .group_course_1702, .group_course_1758, .group_course_1784, .group_course_1788, .group_course_1792, .group_course_1834, .group_course_1852, .group_course_1864, .group_course_1896, .group_course_1964, .group_course_1996, .group_course_2072, .group_course_2096, .group_course_2098, .group_course_1716, .group_course_1902, .group_course_1920, .group_course_1936, .group_course_1980, .group_course_2074 {
	color: #ffffff !important;
	border-color: #a30000 !important;
	background-color: #a30000 !important;
	font-weight: bold !important;
}

/* Red Assignments */
.group_course_1656.assignment, .group_course_1710.assignment, .group_course_1914.assignment, .group_course_2126.assignment, .group_course_2132.assignment, .group_course_1616.assignment, .group_course_1622.assignment, .group_course_1632.assignment, .group_course_1670.assignment, .group_course_1676.assignment, .group_course_1702.assignment, .group_course_1758.assignment, .group_course_1784.assignment, .group_course_1788.assignment, .group_course_1792.assignment, .group_course_1834.assignment, .group_course_1852.assignment, .group_course_1864.assignment, .group_course_1896.assignment, .group_course_1964.assignment, .group_course_1996.assignment, .group_course_2072.assignment, .group_course_2096.assignment, .group_course_2098.assignment, .group_course_1716.assignment, .group_course_1902.assignment, .group_course_1920.assignment, .group_course_1936.assignment, .group_course_1980.assignment, .group_course_2074.assignment {
	color: #a30000 !important;
	border-color: #a30000 !important;
	background-color: #ffe2e2 !important;
	font-weight: normal !important
}

/* Orange Events */
.group_course_1708, .group_course_1770, .group_course_1910, .group_course_2040, .group_course_1648, .group_course_1662, .group_course_1674, .group_course_1686, .group_course_1694, .group_course_1704, .group_course_1728, .group_course_1764, .group_course_1814, .group_course_1832, .group_course_1856, .group_course_1860, .group_course_1880, .group_course_1888, .group_course_1944, .group_course_1962, .group_course_1972, .group_course_2128, .group_course_1922, .group_course_2044, .group_course_2064, .group_course_2084, .group_course_2102 {
	color: #ffffff !important;
	border-color: #e47e00 !important;
	background-color: #e47e00 !important;
	font-weight: bold !important;
}

/* Orange Assignments */
.group_course_1708.assignment, .group_course_1770.assignment, .group_course_1910.assignment, .group_course_2040.assignment, .group_course_1648.assignment, .group_course_1662.assignment, .group_course_1674.assignment, .group_course_1686.assignment, .group_course_1694.assignment, .group_course_1704.assignment, .group_course_1728.assignment, .group_course_1764.assignment, .group_course_1814.assignment, .group_course_1832.assignment, .group_course_1856.assignment, .group_course_1860.assignment, .group_course_1880.assignment, .group_course_1888.assignment, .group_course_1944.assignment, .group_course_1962.assignment, .group_course_1972.assignment, .group_course_2128.assignment, .group_course_1922.assignment, .group_course_2044.assignment, .group_course_2064.assignment, .group_course_2084.assignment, .group_course_2102.assignment {
	color: #e47e00 !important;
	border-color: #e47e00 !important;
	background-color: #ffe4c3 !important;
	font-weight: normal !important
}

/* Yellow Events */
.group_course_1650, .group_course_1900, .group_course_1916, .group_course_1932, .group_course_2012, .group_course_2020, .group_course_1620, .group_course_1628, .group_course_1630, .group_course_1640, .group_course_1664, .group_course_1672, .group_course_1692, .group_course_1738, .group_course_1752, .group_course_1776, .group_course_1802, .group_course_1820, .group_course_1822, .group_course_1828, .group_course_1840, .group_course_1848, .group_course_1874, .group_course_1878, .group_course_1890, .group_course_1956, .group_course_1970, .group_course_1988, .group_course_2048, .group_course_2088, .group_course_2114, .group_course_2130, .group_course_1774, .group_course_1942, .group_course_2014, .group_course_2018, .group_course_2076 {
	color: #000000 !important;
	border-color: #fff700 !important;
	background-color: #fff700 !important;
	font-weight: bold !important;
}

/* Yellow Assignments */
.group_course_1650.assignment, .group_course_1900.assignment, .group_course_1916.assignment, .group_course_1932.assignment, .group_course_2012.assignment, .group_course_2020.assignment, .group_course_1620.assignment, .group_course_1628.assignment, .group_course_1630.assignment, .group_course_1640.assignment, .group_course_1664.assignment, .group_course_1672.assignment, .group_course_1692.assignment, .group_course_1738.assignment, .group_course_1752.assignment, .group_course_1776.assignment, .group_course_1802.assignment, .group_course_1820.assignment, .group_course_1822.assignment, .group_course_1828.assignment, .group_course_1840.assignment, .group_course_1848.assignment, .group_course_1874.assignment, .group_course_1878.assignment, .group_course_1890.assignment, .group_course_1956.assignment, .group_course_1970.assignment, .group_course_1988.assignment, .group_course_2048.assignment, .group_course_2088.assignment, .group_course_2114.assignment, .group_course_2130.assignment, .group_course_1774.assignment, .group_course_1942.assignment, .group_course_2014.assignment, .group_course_2018.assignment, .group_course_2076.assignment {
	color: #837f00 !important;
	border-color: #837f00 !important;
	background-color: #ffffe1 !important;
	font-weight: normal !important
}

/* Green Events */
.group_course_1722, .group_course_1898, .group_course_1926, .group_course_1976, .group_course_2100, .group_course_1618, .group_course_1624, .group_course_1644, .group_course_1658, .group_course_1660, .group_course_1688, .group_course_1698, .group_course_1736, .group_course_1778, .group_course_1786, .group_course_1796, .group_course_1804, .group_course_1824, .group_course_1846, .group_course_1854, .group_course_1862, .group_course_1870, .group_course_1876, .group_course_1882, .group_course_1884, .group_course_1960, .group_course_1986, .group_course_2124, .group_course_1724, .group_course_1772, .group_course_1904, .group_course_1924, .group_course_1984 {
	color: #ffffff !important;
	border-color: #00a417 !important;
	background-color: #00a417 !important;
	font-weight: bold !important;
}

/* Green Assignments */
.group_course_1722.assignment, .group_course_1898.assignment, .group_course_1926.assignment, .group_course_1976.assignment, .group_course_2100.assignment, .group_course_1618.assignment, .group_course_1624.assignment, .group_course_1644.assignment, .group_course_1658.assignment, .group_course_1660.assignment, .group_course_1688.assignment, .group_course_1698.assignment, .group_course_1736.assignment, .group_course_1778.assignment, .group_course_1786.assignment, .group_course_1796.assignment, .group_course_1804.assignment, .group_course_1824.assignment, .group_course_1846.assignment, .group_course_1854.assignment, .group_course_1862.assignment, .group_course_1870.assignment, .group_course_1876.assignment, .group_course_1882.assignment, .group_course_1884.assignment, .group_course_1960.assignment, .group_course_1986.assignment, .group_course_2124.assignment, .group_course_1724.assignment, .group_course_1772.assignment, .group_course_1904.assignment, .group_course_1924.assignment, .group_course_1984.assignment {
	color: #00a417 !important;
	border-color: #00a417 !important;
	background-color: #e1ffe5 !important;
	font-weight: normal !important
}

/* Blue Events */
.group_course_1718, .group_course_1810, .group_course_1908, .group_course_2024, .group_course_2120, .group_course_1634, .group_course_1646, .group_course_1668, .group_course_1700, .group_course_1730, .group_course_1734, .group_course_1746, .group_course_1794, .group_course_1818, .group_course_1826, .group_course_1836, .group_course_1844, .group_course_1886, .group_course_1892, .group_course_1906, .group_course_1948, .group_course_1968, .group_course_1994, .group_course_1998, .group_course_2058, .group_course_2062, .group_course_2080, .group_course_2092, .group_course_2094, .group_course_1654, .group_course_1726, .group_course_1812, .group_course_1940, .group_course_2122 {
	color: #ffffff !important;
	border-color: #3068f8 !important;
	background-color: #3068f8 !important;
	font-weight: bold !important;
}

/* Blue Assignments */
.group_course_1718.assignment, .group_course_1810.assignment, .group_course_1908.assignment, .group_course_2024.assignment, .group_course_2120.assignment, .group_course_1634.assignment, .group_course_1646.assignment, .group_course_1668.assignment, .group_course_1700.assignment, .group_course_1730.assignment, .group_course_1734.assignment, .group_course_1746.assignment, .group_course_1794.assignment, .group_course_1818.assignment, .group_course_1826.assignment, .group_course_1836.assignment, .group_course_1844.assignment, .group_course_1886.assignment, .group_course_1892.assignment, .group_course_1906.assignment, .group_course_1948.assignment, .group_course_1968.assignment, .group_course_1994.assignment, .group_course_1998.assignment, .group_course_2058.assignment, .group_course_2062.assignment, .group_course_2080.assignment, .group_course_2092.assignment, .group_course_2094.assignment, .group_course_1654.assignment, .group_course_1726.assignment, .group_course_1812.assignment, .group_course_1940.assignment, .group_course_2122.assignment {
	color: #3068f8 !important;
	border-color: #3068f8 !important;
	background-color: #e1e9ff !important;
	font-weight: normal !important
}

/* Plum Events */
.group_course_1652, .group_course_1974, .group_course_2008, .group_course_2016, .group_course_1636, .group_course_1680, .group_course_1684, .group_course_1690, .group_course_1740, .group_course_1780, .group_course_1800, .group_course_1808, .group_course_1838, .group_course_1858, .group_course_1872, .group_course_1894, .group_course_1952, .group_course_1966, .group_course_1992, .group_course_2066, .group_course_2068, .group_course_2070, .group_course_2086, .group_course_2090, .group_course_2010, .group_course_2022, .group_course_2026, .group_course_2134 {
	color: #ffffff !important;
	border-color: #7a00fb !important;
	background-color: #7a00fb !important;
	font-weight: bold !important;
}

/* Plum Assignments */
.group_course_1652.assignment, .group_course_1974.assignment, .group_course_2008.assignment, .group_course_2016.assignment, .group_course_1636.assignment, .group_course_1680.assignment, .group_course_1684.assignment, .group_course_1690.assignment, .group_course_1740.assignment, .group_course_1780.assignment, .group_course_1800.assignment, .group_course_1808.assignment, .group_course_1838.assignment, .group_course_1858.assignment, .group_course_1872.assignment, .group_course_1894.assignment, .group_course_1952.assignment, .group_course_1966.assignment, .group_course_1992.assignment, .group_course_2066.assignment, .group_course_2068.assignment, .group_course_2070.assignment, .group_course_2086.assignment, .group_course_2090.assignment, .group_course_2010.assignment, .group_course_2022.assignment, .group_course_2026.assignment, .group_course_2134.assignment {
	color: #7a00fb !important;
	border-color: #7a00fb !important;
	background-color: #f0e2ff !important;
	font-weight: normal !important
}

/* Brown Events */
.group_course_1712, .group_course_1928, .group_course_2028, .group_course_2042, .group_course_2054, .group_course_1614, .group_course_1626, .group_course_1638, .group_course_1642, .group_course_1682, .group_course_1732, .group_course_1748, .group_course_1750, .group_course_1760, .group_course_1790, .group_course_1798, .group_course_1806, .group_course_1830, .group_course_1850, .group_course_1866, .group_course_1868, .group_course_1950, .group_course_1958, .group_course_1990, .group_course_2060, .group_course_2078, .group_course_2082, .group_course_2326, .group_course_1714, .group_course_1918, .group_course_1938, .group_course_2030, .group_course_2046 {
	color: #ffffff !important;
	border-color: #623609 !important;
	background-color: #623609 !important;
	font-weight: bold !important;
}

/* Brown Assignments */
.group_course_1712.assignment, .group_course_1928.assignment, .group_course_2028.assignment, .group_course_2042.assignment, .group_course_2054.assignment, .group_course_1614.assignment, .group_course_1626.assignment, .group_course_1638.assignment, .group_course_1642.assignment, .group_course_1682.assignment, .group_course_1732.assignment, .group_course_1748.assignment, .group_course_1750.assignment, .group_course_1760.assignment, .group_course_1790.assignment, .group_course_1798.assignment, .group_course_1806.assignment, .group_course_1830.assignment, .group_course_1850.assignment, .group_course_1866.assignment, .group_course_1868.assignment, .group_course_1950.assignment, .group_course_1958.assignment, .group_course_1990.assignment, .group_course_2060.assignment, .group_course_2078.assignment, .group_course_2082.assignment, .group_course_2326.assignment, .group_course_1714.assignment, .group_course_1918.assignment, .group_course_1938.assignment, .group_course_2030.assignment, .group_course_2046.assignment {
	color: #623609 !important;
	border-color: #623609 !important;
	background-color: #dcd8d5 !important;
	font-weight: normal !important
}

/* Duty-Team Events */
.group_course_2328, .group_course_2330, .group_course_2332, .group_course_2334, .group_course_2336, .group_course_2338, .group_course_2340, .group_course_2342, .group_course_2344, .group_course_2346, .group_course_2348, .group_course_2350 {
	color: #003359 !important;
	border-color: #003359 !important;
	background-color: #fff !important;
	font-weight: bold !important;
}

/* Duty-Team Assignments */
.group_course_2328.assignment, .group_course_2330.assignment, .group_course_2332.assignment, .group_course_2334.assignment, .group_course_2336.assignment, .group_course_2338.assignment, .group_course_2340.assignment, .group_course_2342.assignment, .group_course_2344.assignment, .group_course_2346.assignment, .group_course_2348.assignment, .group_course_2350.assignment {
	color: #003359 !important;
	border-color: #003359 !important;
	background-color: #fff !important;
	font-weight: normal !important
}

/* All-School Events */
.group_course_2056, .group_course_2296, .group_course_2300, .group_course_2302, .group_course_2306, .group_course_97, .group_course_679 {
	color: #fff !important;
	border-color: #003359 !important;
	background-color: #003359 !important;
	font-weight: bold !important;
}

/* All-School Assignments */
.group_course_2056.assignment, .group_course_2296.assignment, .group_course_2300.assignment, .group_course_2302.assignment, .group_course_2306.assignment, .group_course_97.assignment, .group_course_679.assignment {
	color: #fff !important;
	border-color: #003359 !important;
	background-color: #5588af !important;
	font-weight: normal !important
}

/* Athletics Events */
.group_course_544, .group_course_937, .group_course_939, .group_course_940, .group_course_941, .group_course_942, .group_course_943, .group_course_944, .group_course_945, .group_course_946, .group_course_947, .group_course_948, .group_course_949, .group_course_2352, .group_course_2354, .group_course_2356, .group_course_2358, .group_course_2360, .group_course_2362, .group_course_2364, .group_course_2366, .group_course_2368, .group_course_2370, .group_course_2372, .group_course_2374, .group_course_2376, .group_course_2378, .group_course_2380, .group_course_2382, .group_course_2384, .group_course_490, .group_course_499, .group_course_1514, .group_course_1520, .group_course_1522, .group_course_1524, .group_course_1526, .group_course_1528, .group_course_1532, .group_course_1534, .group_course_1536, .group_course_1538, .group_course_1540, .group_course_1542 {
	color: #fff !important;
	border-color: #003359 !important;
	background-color: #003359 !important;
	font-weight: bold !important;
}

/* Athletics Assignments */
.group_course_544.assignment, .group_course_937.assignment, .group_course_939.assignment, .group_course_940.assignment, .group_course_941.assignment, .group_course_942.assignment, .group_course_943.assignment, .group_course_944.assignment, .group_course_945.assignment, .group_course_946.assignment, .group_course_947.assignment, .group_course_948.assignment, .group_course_949.assignment, .group_course_2352.assignment, .group_course_2354.assignment, .group_course_2356.assignment, .group_course_2358.assignment, .group_course_2360.assignment, .group_course_2362.assignment, .group_course_2364.assignment, .group_course_2366.assignment, .group_course_2368.assignment, .group_course_2370.assignment, .group_course_2372.assignment, .group_course_2374.assignment, .group_course_2376.assignment, .group_course_2378.assignment, .group_course_2380.assignment, .group_course_2382.assignment, .group_course_2384.assignment, .group_course_490.assignment, .group_course_499.assignment, .group_course_1514.assignment, .group_course_1520.assignment, .group_course_1522.assignment, .group_course_1524.assignment, .group_course_1526.assignment, .group_course_1528.assignment, .group_course_1532.assignment, .group_course_1534.assignment, .group_course_1536.assignment, .group_course_1538.assignment, .group_course_1540.assignment, .group_course_1542.assignment {
	color: #fff !important;
	border-color: #003359 !important;
	background-color: #5588af !important;
	font-weight: normal !important
}

/* Advisory Events */
.group_course_2144, .group_course_2146, .group_course_2148, .group_course_2150, .group_course_2152, .group_course_2154, .group_course_2156, .group_course_2158, .group_course_2160, .group_course_2162, .group_course_2164, .group_course_2166, .group_course_2168, .group_course_2170, .group_course_2172, .group_course_2174, .group_course_2176, .group_course_2178, .group_course_2180, .group_course_2182, .group_course_2184, .group_course_2186, .group_course_2188, .group_course_2190, .group_course_2192, .group_course_2194, .group_course_2196, .group_course_2198, .group_course_2200, .group_course_2202, .group_course_2204, .group_course_2206, .group_course_2208, .group_course_2210, .group_course_2212, .group_course_2214, .group_course_2216, .group_course_2218, .group_course_2220, .group_course_2222, .group_course_2224, .group_course_2226, .group_course_2228, .group_course_2230, .group_course_2232, .group_course_2234, .group_course_2236, .group_course_2238, .group_course_2240, .group_course_2242, .group_course_2244, .group_course_2246, .group_course_2248, .group_course_2250, .group_course_2252, .group_course_2254, .group_course_2256, .group_course_2258, .group_course_2260, .group_course_2262, .group_course_2264, .group_course_2266, .group_course_2268, .group_course_2270, .group_course_2272, .group_course_2274, .group_course_2276, .group_course_2278, .group_course_2280, .group_course_2282, .group_course_2284, .group_course_2286, .group_course_2288, .group_course_2290, .group_course_2292, .group_course_2294 {
	color: #003359 !important;
	border-color: #003359 !important;
	background-color: #fff !important;
	font-weight: bold !important;
}

/* Advisory Assignments */
.group_course_2144.assignment, .group_course_2146.assignment, .group_course_2148.assignment, .group_course_2150.assignment, .group_course_2152.assignment, .group_course_2154.assignment, .group_course_2156.assignment, .group_course_2158.assignment, .group_course_2160.assignment, .group_course_2162.assignment, .group_course_2164.assignment, .group_course_2166.assignment, .group_course_2168.assignment, .group_course_2170.assignment, .group_course_2172.assignment, .group_course_2174.assignment, .group_course_2176.assignment, .group_course_2178.assignment, .group_course_2180.assignment, .group_course_2182.assignment, .group_course_2184.assignment, .group_course_2186.assignment, .group_course_2188.assignment, .group_course_2190.assignment, .group_course_2192.assignment, .group_course_2194.assignment, .group_course_2196.assignment, .group_course_2198.assignment, .group_course_2200.assignment, .group_course_2202.assignment, .group_course_2204.assignment, .group_course_2206.assignment, .group_course_2208.assignment, .group_course_2210.assignment, .group_course_2212.assignment, .group_course_2214.assignment, .group_course_2216.assignment, .group_course_2218.assignment, .group_course_2220.assignment, .group_course_2222.assignment, .group_course_2224.assignment, .group_course_2226.assignment, .group_course_2228.assignment, .group_course_2230.assignment, .group_course_2232.assignment, .group_course_2234.assignment, .group_course_2236.assignment, .group_course_2238.assignment, .group_course_2240.assignment, .group_course_2242.assignment, .group_course_2244.assignment, .group_course_2246.assignment, .group_course_2248.assignment, .group_course_2250.assignment, .group_course_2252.assignment, .group_course_2254.assignment, .group_course_2256.assignment, .group_course_2258.assignment, .group_course_2260.assignment, .group_course_2262.assignment, .group_course_2264.assignment, .group_course_2266.assignment, .group_course_2268.assignment, .group_course_2270.assignment, .group_course_2272.assignment, .group_course_2274.assignment, .group_course_2276.assignment, .group_course_2278.assignment, .group_course_2280.assignment, .group_course_2282.assignment, .group_course_2284.assignment, .group_course_2286.assignment, .group_course_2288.assignment, .group_course_2290.assignment, .group_course_2292.assignment, .group_course_2294.assignment {
	color: #003359 !important;
	border-color: #003359 !important;
	background-color: #fff !important;
	font-weight: normal !important
}

/* Unscheduled Events */
.group_course_2104, .group_course_2106, .group_course_2108, .group_course_2118, .group_course_2136, .group_course_2116, .group_course_2138, .group_course_2140, .group_course_2142, .group_course_2110, .group_course_2112, .group_course_489 {
	color: #fff !important;
	border-color: #888 !important;
	background-color: #888 !important;
	font-weight: bold !important;
}

/* Unscheduled Assignments */
.group_course_2104.assignment, .group_course_2106.assignment, .group_course_2108.assignment, .group_course_2118.assignment, .group_course_2136.assignment, .group_course_2116.assignment, .group_course_2138.assignment, .group_course_2140.assignment, .group_course_2142.assignment, .group_course_2110.assignment, .group_course_2112.assignment, .group_course_489.assignment {
	color: #666 !important;
	border-color: #666 !important;
	background-color: #eee !important;
	font-weight: normal !important
}

/************************************************************************
  End generated CSS
************************************************************************/